on init
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/f_rndis/manufacturer Samsung
    write /sys/class/android_usb/android0/f_rndis/vendorID 04e8
    write /sys/class/android_usb/android0/f_rndis/wceis 1

on boot
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model

on property:sys.usb.config=adb
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,rndis,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
